
<div class="row">

    <div class="col-sm-9">
        <div class="widget widget-fullwidth widget-small" ng-repeat="item in equipo" on-finish-render="initChart()" ng-show="(equipo|keylength)>0">
            <div class="table-responsive">
                <table class="table table-striped table-fw-widget table-hover" style="margin: 0">
                    <tbody class="no-border-x">
                    <tr>
                        <td class="user-avatar" align="center" width="15%"> <img ng-src="{{ item.usuarioFoto }}?v={{rand}}" usuarioFoto style="width: 50%;height: 40%"></td>
                        <td width="25%">{{ (item.usuarioNombreCasual | getNombrePropio:false) }}<br><strong class="text-info">{{ item.departamentoNombre }}</strong><br>{{ item.cargoNombre }} </td>
                        <td><strong class="text-info">Ingreso</strong><br>22/05/2013</td>
                        <td align="center">
                            <span class="chart chart1"  data-percent="82" style="margin: 0">
                                <span class="percent">8.2</span>
                            </span>
                            <br>
                            Resultado <br>Happiness
                        </td>
                        <td align="center"><strong class="text-info">Nivel de Desarrollo</strong><br>--</td>
                        <td align="center">
                            <span class="chart chart2"  data-percent="76" style="margin: 0">
                                <span class="percent">7.6</span>
                            </span>
                            <br>
                            Cumplimiento<br> Perfil del Cargo
                        </td>
                        <td align="center"><strong class="text-info">Vacaciones</strong><br>0 Días</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div role="alert" class="alert alert-warning alert-dismissible" style="font-size: 20px" ng-show="(equipo|keylength)==0">
            <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button><span class="icon s7-attention"></span><strong>Alerta!</strong> Usted no tiene personal a su cargo.
        </div>


    </div>

    <widget-calendario class="col-md-3" data="{{ calendario }}"></widget-calendario>
</div>