<div class="user-profile">

    <header-user dashboard-item="N"></header-user>

    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="info-block panel panel-default">
                <!-- <div class="panel-heading">
                    <h4>{{ ('Sobre mí' | getNombrePropio:true) }}</h4>
                </div> -->

                <div class="panel-body">
                    <div class="tab-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#datos" data-toggle="tab" aria-expanded="false">Datos Personales</a></li>
                            <li class="hidden-xs"><a href="#cargas" data-toggle="tab" aria-expanded="true">Cargas Familiares</a></li>
                            <li class="hidden-xs"><a href="#contacto" data-toggle="tab" aria-expanded="false">Contacto Emergencia</a></li>
                            <li class=""><a href="#password" data-toggle="tab" aria-expanded="false">Password</a></li>
                            <li class=""><a href="#certificados" data-toggle="tab" aria-expanded="false" ng-click="getCertificados()" ng-show="$parent.alias=='desca'">Mis Certificados</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="datos" class="tab-pane cont active">

                                <div class="panel-heading" style="padding-left: -5px;margin-left: 13px;background-color: whitesmoke;margin-bottom: 13px;">
                                    <span class="panel-title text-info" style="padding-left: 13px">	Datos Personales del Empleado</span>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Cédula de Identidad</label>
                                        <input type="text" placeholder="" maxlength="10" value="{{ $parent.GlbUsuario.usuarioCedula }}" readonly="readonly" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" placeholder="" maxlength="10" value="{{ $parent.GlbUsuario.usuarioNombre1 + ' ' + $parent.GlbUsuario.usuarioNombre2 | getNombrePropio:true }}" readonly="readonly" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" placeholder="" maxlength="10" value="{{ $parent.GlbUsuario.usuarioApellido1 + ' ' + $parent.GlbUsuario.usuarioApellido2 | getNombrePropio:true  }}" readonly="readonly" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>País de Nacimiento</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioPaisNacimiento" class="form-control" ng-change="refrescaPais()">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioPaisNacimiento == '-1' }}">...</option>
                                            <option value="{{ item.paisCodigo }}" ng-repeat="item in $parent.paises" ng-selected="{{ item.paisCodigo == $parent.GlbUsuario.usuarioPaisNacimiento }}">{{ item.paisNombre }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Provincia de Nacimiento</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioProvinciaNacimiento" class="form-control" ng-change="refrescaProvincia()">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioProvinciaNacimiento == '-1' }}">...</option>
                                            <option value="{{ item.provinciaCodigo }}" ng-repeat="item in $parent.provincias" ng-selected="{{ item.provinciaCodigo == $parent.GlbUsuario.usuarioProvinciaNacimiento }}">{{ item.provinciaNombre }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Ciudad de Nacimiento</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioCiudadNacimiento" class="form-control">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioCiudadNacimiento == '-1' }}">...</option>
                                            <option value="{{ item.ciudadCodigo }}" ng-repeat="item in $parent.ciudades" ng-selected="{{ item.ciudadCodigo == $parent.GlbUsuario.usuarioCiudadNacimiento }}">{{ item.ciudadNombre }}</option>
                                            <option value="-2" ng-selected="{{ $parent.GlbUsuario.usuarioCiudadNacimiento == '-2' }}">OTRO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12" ng-show="$parent.GlbUsuario.usuarioCiudadNacimiento=='-2'">
                                    <div class="form-group">
                                        <label>Nombre de la Ciudad</label>
                                        <input type="text" placeholder="" maxlength="10" value="{{ $parent.GlbUsuario.usuarioCiudadNombreNacimiento }}" ng-model="$parent.GlbUsuario.usuarioCiudadNombreNacimiento" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Estado Civil</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioCivilEstado" class="form-control">
                                            <option value="" ng-selected="{{ $parent.GlbUsuario.usuarioCivilEstado == '' }}">...</option>
                                            <option value="C" ng-selected="{{ $parent.GlbUsuario.usuarioCivilEstado == 'C' }}">Casado</option>
                                            <option value="S" ng-selected="{{ $parent.GlbUsuario.usuarioCivilEstado == 'S' }}">Soltero</option>
                                            <option value="V" ng-selected="{{ $parent.GlbUsuario.usuarioCivilEstado == 'V' }}">Viudo</option>
                                            <option value="D" ng-selected="{{ $parent.GlbUsuario.usuarioCivilEstado == 'D' }}">Divorciado</option>
                                            <option value="U" ng-selected="{{ $parent.GlbUsuario.usuarioCivilEstado == 'U' }}">Unión Libre</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Extranjero</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioTieneNacionalidad" class="form-control" ng-change="seteaNacionalidad()">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioTieneNacionalidad == '-1' }}">...</option>
                                            <option value="S" ng-selected="{{ $parent.GlbUsuario.usuarioTieneNacionalidad == 'S' }}">Sí</option>
                                            <option value="N" ng-selected="{{ $parent.GlbUsuario.usuarioTieneNacionalidad == 'N' }}">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12" ng-show="$parent.GlbUsuario.usuarioTieneNacionalidad=='S'">
                                    <div class="form-group">
                                        <label>Nacionalidad</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioPaisSegundaNacimiento" class="form-control">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioPaisSegundaNacimiento == '-1' }}">...</option>
                                            <option value="{{ item.paisCodigo }}" ng-repeat="item in $parent.paises" ng-selected="{{ item.paisCodigo == $parent.GlbUsuario.usuarioPaisSegundaNacimiento }}">{{ item.paisNombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12" style="padding: 0px;">
                                    <div class="panel-heading" style="padding-left: -5px;margin-left: 13px;background-color: whitesmoke;margin-bottom: 13px;">
                                        <span class="panel-title text-info" style="padding-left: 13px">	Dirección del Domicilio</span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12" ng-show="$parent.alias!='volvo' && $parent.alias!='mannucci' && $parent.alias!='autrisa' && $parent.alias!='huancayo' && $parent.alias!='tacna'">
                                    <div class="form-group">
                                        <label>Provincia de Domicilio</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioProvinciaDomicilio" class="form-control" ng-change="refrescaProvincia_domicilio()">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioProvinciaDomicilio == '-1' }}">...</option>
                                            <option value="{{ item.provinciaCodigo }}" ng-repeat="item in $parent.provincias_domicilio" ng-selected="{{ item.provinciaCodigo == $parent.GlbUsuario.usuarioProvinciaDomicilio }}">{{ item.provinciaNombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12" ng-show="$parent.alias!='volvo' && $parent.alias!='mannucci' && $parent.alias!='autrisa' && $parent.alias!='huancayo' && $parent.alias!='tacna'">

                                    <div class="form-group">
                                        <label>Cantón de Domicilio</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioCantonDomicilio" class="form-control" ng-change="refrescaCanton_domicilio()">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioCantonDomicilio == '-1' }}">...</option>
                                            <option value="{{ item.cantonCodigo }}" ng-repeat="item in $parent.cantones_domicilio" ng-selected="{{ item.cantonCodigo == $parent.GlbUsuario.usuarioCantonDomicilio }}">{{ item.cantonNombre }}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6 col-sm-12" ng-show="$parent.alias!='volvo' && $parent.alias!='mannucci' && $parent.alias!='autrisa' && $parent.alias!='huancayo' && $parent.alias!='tacna'">

                                    <div class="form-group">
                                        <label>Parroquia de Domicilio</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioParroquiaDomicilio" class="form-control">
                                            <option value="-1" ng-selected="{{ $parent.GlbUsuario.usuarioParroquiaDomicilio == '-1' }}">...</option>
                                            <option value="{{ item.parroquiaCodigo }}" ng-repeat="item in $parent.parroquias_domicilio" ng-selected="{{ item.parroquiaCodigo == $parent.GlbUsuario.usuarioParroquiaDomicilio }}">{{ item.parroquiaNombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Tipo de Vivienda</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioTipoVivienda" class="form-control">
                                            <option value="C">Casa</option>
                                            <option value="D">Departamento</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Ubicada en</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioUbicacionVivienda" class="form-control">
                                            <option value="I">Independiente</option>
                                            <option value="C">Conjunto Habitacional</option>
                                            <option value="U">Urbanización</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Pertenece Vivienda</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioPerteneceVivienda" class="form-control">
                                            <option value="P">Propio</option>
                                            <option value="A">Arrendado</option>
                                            <option value="R">Prestada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Calle Principal</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioDireccionPrincipal" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Calle Secundaria</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioDireccionSecundaria" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input type="text" placeholder="" maxlength="10" ng-model="$parent.GlbUsuario.usuarioDireccionNumero" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Piso</label>
                                        <input type="text" placeholder="" maxlength="10" ng-model="$parent.GlbUsuario.usuarioDireccionPiso" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Email Personal</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioMailExterno" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Teléfono Fijo</label>
                                        <input type="text" placeholder="" maxlength="9" onkeypress="controla_digitacion_decimal (event, this, 0);" ng-model="$parent.GlbUsuario.usuarioTelefono" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Teléfono Celular</label>
                                        <input type="text" placeholder="" maxlength="10" onkeypress="controla_digitacion_decimal (event, this, 0);" ng-model="$parent.GlbUsuario.usuarioCelular" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Referencia</label>
                                        <textarea class="form-control" ng-model="$parent.GlbUsuario.usuarioDireccionReferencia">{{ $parent.GlbUsuario.usuarioDireccionReferencia }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 spacer text-right">
                                    <button type="button" ng-click="accion('AU','1','banderaDP')" class="btn btn-space btn-primary">Guardar</button>
                                </div>
                            </div>

                            <!-- cargas famililares -->
                            <div id="cargas" class="tab-pane cont">

                                <div class="col-md-12 col-sm-12">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">¿Tiene cargas familiares?</label>
                                        <div class="col-sm-6 xs-pt-5">
                                            <div class="switch-button switch-button-yesno">
                                                <input type="checkbox" checked="" name="swt9" id="swt9" ng-model="$parent.checkCargas"><span>
                                                <label for="swt9"></label></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12" ng-repeat="item in $parent.GlbUsuario.cargasfamiliares" ng-model="cargas" on-finish-render="initPicker()" ng-hide="item.acc=='E' || !$parent.checkCargas">
                                        <div class="panel panel-default" style="margin-bottom:-10px;">
                                            <div class="panel-heading">
                                                <div class="tools"><a ng-click="$parent.eliminarCarga($index)"><span class="icon s7-trash text-danger"></span></a></div><span class="title text-info"><b>Carga Familiar No. {{ ($index+1) }}</b></span></div>
                                            <div class="panel-body">
                                                <input type="hidden" placeholder="" ng-model="item.cargaFamiliarCodigo" class="form-control">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Cédula</label>
                                                        <input type="text" placeholder="" maxlength="10" onkeypress="controla_digitacion_decimal (event, this, 0);" ng-model="item.cargaFamiliarCedula" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Nombres</label>
                                                        <input type="text" placeholder="" maxlength="60" ng-model="item.cargaFamiliarNombres" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Apellidos</label>
                                                        <input type="text" placeholder="" maxlength="60" ng-model="item.cargaFamiliarApellidos" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Sexo</label>
                                                        <select ng-model="item.cargaFamiliarSexo" class="form-control">
                                                        <option value="M">Masculino</option>
                                                        <option value="F">Femenino</option>
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Parentesco</label>
                                                        <select ng-model="item.cargaFamiliarParentesco" class="form-control">
                                                        <option value="H">Hijo</option>
                                                        <option value="C">Cónyuge</option>
                                                        <option value="U">Union Libre Legalizada</option>
                                                        <option value="N">Union Libre No Legalizada</option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Fecha de Nacimiento</label>

                                                        <!--<div data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" class="input-group date datetimepicker col-md-12 col-xs-7">-->
                                                        <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker col-md-12 col-xs-12">
                                                            <input size="16" type="text" ng-model="item.cargaFamiliarFechaNacimiento" value="{{ item.cargaFamiliarFechaNacimiento | limitTo:10 }}" readonly="" class="form-control"><span class="input-group-addon btn btn-primary"><i class="icon-th s7-date"></i></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Extranjero</label>
                                                        <select ng-model="item.cargaFamiliarExterno" class="form-control">
                                                        <option value="S">Sí</option>
                                                        <option value="N">No</option>
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label>Conadis</label>
                                                        <select ng-model="item.cargaFamiliarDiscapacidad" class="form-control">
                                                        <option value="S">Sí</option>
                                                        <option value="N">No</option>
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="col-md-6 col-sm-6 spacer " ng-hide="!$parent.checkCargas">
                                    <button type="button" ng-click="$parent.addCarga()" class="btn btn-space btn-primary">Añadir</button>
                                </div>

                                <div class="col-md-12 col-sm-6 spacer text-right" ng-hide="!$parent.checkCargas" ng-hide="!$parent.checkCargas">
                                    <button type="button" ng-click="accion('AC','2','banderaCF')" class="btn btn-space btn-primary">Guardar</button>
                                </div>

                            </div>

                            <!-- contacto -->
                            <div id="contacto" class="tab-pane">

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioContactoNombre1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioContactoApellido1" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Parentesco</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioContactoParentesco" class="form-control">
                                            <option value="P">Padre</option>
                                            <option value="M">Madre</option>
                                            <option value="H">Hermano</option>
                                            <option value="I">Hijo</option>
                                            <option value="T">Tio</option>
                                            <option value="R">Primo</option>
                                            <option value="S">Sobrino</option>
                                            <option value="A">Amigo</option>
                                            <option value="C">Cónyuge</option>
                                            <option value="C">Cónyuge</option>
                                            <option value="O">Otro</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>E-mail Personal</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioContactoEmail" class="form-control">
                                    </div>
                                </div>

                                <!--<div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Tipo de Vivienda</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioContactoTipoVivienda" class="form-control">
                                            <option value="C">Casa</option>
                                            <option value="D">Departamento</option>
                                        </select>
                                    </div>
                                </div>-->

                                <!--<div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Ubicada en</label>
                                        <select ng-model="$parent.GlbUsuario.usuarioContactoUbicacionVivienda" class="form-control">
                                            <option value="I">Independiente</option>
                                            <option value="C">Conjunto Habitacional</option>
                                            <option value="U">Urbanización</option>
                                        </select>
                                    </div>
                                </div>-->

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Calle Principal</label>
                                        <input type="text" placeholder="" maxlength="120" ng-model="$parent.GlbUsuario.usuarioContactoDireccionPrincipal" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input type="text" placeholder="" maxlength="10" ng-model="$parent.GlbUsuario.usuarioContactoDireccionNumero" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Calle Secundaria</label>
                                        <input type="text" maxlength="120" placeholder="" ng-model="$parent.GlbUsuario.usuarioContactoDireccionSecundaria" class="form-control">
                                    </div>
                                </div>

                                <!-- <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Piso</label>
                                        <input type="text" maxlength="10" placeholder="" ng-model="$parent.GlbUsuario.usuarioContactoDireccionPiso" class="form-control">
                                    </div>
                                </div>-->
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Teléfono Fijo</label>
                                        <input type="text" maxlength="9" onkeypress="controla_digitacion_decimal (event, this, 0);" placeholder="" ng-model="$parent.GlbUsuario.usuarioContactoTelefono1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Teléfono Celular</label>
                                        <input type="text" maxlength="10" onkeypress="controla_digitacion_decimal (event, this, 0);" placeholder="" ng-model="$parent.GlbUsuario.usuarioContactoTelefono2" class="form-control">
                                    </div>
                                </div>
                                <!--<div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Referencia</label>
                                        <textarea class="form-control" ng-model="$parent.GlbUsuario.usuarioContactoDireccionReferencia">{{ $parent.GlbUsuario.usuarioContactoDireccionReferencia }}</textarea>
                                    </div>
                                </div>-->

                                <div class="col-md-12 col-sm-12 spacer text-right">
                                    <button type="button" ng-click="accion('AU','3','banderaCE')" class="btn btn-space btn-primary">Guardar</button>
                                </div>

                            </div>
                            <!-- Password -->
                            <div id="password" class="tab-pane">

                                <div role="alert" class="alert alert-warning alert-icon alert-dismissible">
                                    <div class="icon"><span class="s7-info"></span></div>
                                    <div class="message">
                                        <ul>
                                            <li>Mínimo 8 carácteres</li>
                                            <li>Mínimo 1 número</li>
                                            <li>Mínimo 1 letra mayúscula</li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Nuevo Password</label>
                                        <input type="password" maxlength="15" ng-model="$parent.GlbUsuario.usuarioPassword" ng-model-options="{allowInvalid: true}" pattern-validator="((?=.*\d)(?=.*[A-Z]).{8,8})" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Confirmar Password</label>
                                        <input type="password" maxlength="15" placeholder="" ng-model="$parent.GlbUsuario.actualizaPassword" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Nivel de seguridad</label>
                                        <password-strength ng-model="$parent.GlbUsuario.usuarioPassword"></password-strength>
                                    </div>
                                </div>

                                <div class="alert alert-error text-danger col-md-6 col-sm-12" ng-show="form.password.$error.passwordPattern">El password no cumple con los requerimientos!</div>

                                <div class="col-md-12 col-sm-12 spacer text-right">
                                    <button type="button" ng-click="accion('AU','4','banderaPA')" class="btn btn-space btn-primary">Guardar</button>
                                </div>

                            </div>

                            <!-- Mis certificados -->
                            <div id="certificados" class="tab-pane cont">
                                <div class="col-md-12 col-sm-12">

                                    <div class="panel-heading" style="padding-left: -5px;margin-left: 13px;background-color: whitesmoke;margin-bottom: 13px;">
                                        <span class="panel-title text-info" style="padding-left: 13px">	Mis Certificados</span>
                                    </div>

                                    <form ng-submit="submitCertificado()" enctype="multipart/form-data">
                                        <div class="col-md-6 col-sm-6">

                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" placeholder="" required ng-model="certificado.certificadoNombre" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label>Archivo</label>

                                                <input type="file" file-model="certificado.certificadoArchivo" name="file" id="certificadoArchivo" class="form-control" required>
                                            </div>
                                        </div>



                                        <div class="col-md-12 col-sm-12 text-right">
                                            <button type="submit" class="btn btn-space btn-primary">Ingresar</button>
                                        </div>

                                        <hr style="width: 100%; height: 1px; background-color:#ddd;" />

                                        <div class="panel-body">
                                            <table class="table table-condensed table-hover table-bordered table-striped" ng-show="(certificados | keylength)>0">
                                                <thead>
                                                    <tr>
                                                        <th width="90%">Nombre</th>
                                                        <th width="10%" class="text-center">Archivo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in certificados">
                                                        <td>{{ item.certificadoNombre }}</td>
                                                        <td class="text-center">
                                                            <a href="{{ item.arc_certificado }}" target="_blank" class="btn btn-social btn-space btn-facebook"><i class="fa s7-search"></i></a>
                                                            <a href="#" ng-click="deleteCertificate(item)" class="btn btn-social btn-space btn-pinterest"><i class="fa s7-close-circle"></i></a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="icon-container" ng-show="(certificados | keylength)==0">
                                                <div class="icon"><span class="s7-attention"></span></div><span class="class">No tiene certificados.</span>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- widget -->
        <widget-calendario class="col-lg-3 hidden-xs" data="{{ calendario }}"></widget-calendario>
    </div>
</div>