<style>
    .main-content {
        padding: 0px;
    }
</style>

<div class="col-md-12 col-sm-12">

    <div role="alert" class="alert alert-warning alert-icon alert-dismissible" style="margin-top: 10px;">
        <div class="icon"><span class="s7-info"></span></div>
        <div class="message">
            <strong>1. </strong>Dar clic sobre la foto para expandir el Organigrama.
        </div>
    </div>

    <div style="overflow: auto;height: 70vh;position: relative">
        <div class="col-md-12 col-sm-12" style="height: 100%">
            <iframe class="col-md-12 col-sm-12" style="height: 100%;border:0" src="{{ url | trusted}}"></iframe>
        </div>
    </div>
</div>